---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <header>
            <h1>404 - Página no encontrada</h1>
            <p>
                Sopas, parece que la página que buscas no existe.
                Puede que haya sido eliminada, o que nunca haya existido.
                <br />
                Puedes volver a la <a href="/">página principal</a> o navegar por el sitio.
            </p>
        </header>
    </main>
</Layout>