---
const {title, company, period} = Astro.props;
---

<article>
    <h3>{title}</h3>
    <p>{company} ({period})</p>
    <slot/>
</article>

<style>
    article {
        box-sizing: border-box;
        padding: 1rem;
        border: 2px solid var(--border-color);
        box-shadow: 4px 4px 0 var(--border-color);
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
            transform: translate(-2px, -2px);
            box-shadow: 6px 6px 0 var(--border-color);
        }
    }

    h3 {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.03em;
        margin: 0.5rem 0;
    }

    p {
        font-size: 0.9rem;
        font-weight: 400;
    }
</style>
